<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Personalize your profile:</h3>

    <form class="form new-profile-form">
      <div class="form-group">
        <label for="profile-name">Full Name:</label>
        <input class="form-input" type="text" id="profile-name" name="profile-name" />
      </div>
      <div class="form-group">
        <label for="profile-bday">Birthdate:</label>
        <input class="form-input" type="date" id="profile-bday" name="profile-bday" />
      </div>
      <div class="form-group">
        <label for="profile-skills">Skills:</label>
        <input class="form-input" type="text" id="profile-skills" name="profile-skills"></input>
      </div>
         <label for="profile-name">About Me:</label>
        <input class="form-input" type="text" id="profile-about" name="profile-about" />
      </div>
 <label for="profile-name">Upload Resume:</label>
        <input class="form-input" type="file" id="profile-resume" name="profile-resume" />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update Profile</button>
      </div>
    </form>
  </div>

  {{#if profiles.length}}
  <div class="col-md-6 profile-list">
    <h3>Current Profiles:</h3>

    {{#each profiles as |profile|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/profile/{{profile.id}}">{{profile.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{profile.id}}">DELETE Profile</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
