  <div class='row'>
        <header class='row text-center bg-dark text-white'>
            <h1>Job Dashboard</h1>
        </header>
    </div>

    <main class='mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28'>
        <div class='column col-3 sm:text-center lg:text-left"'>
            <p class='search-header fs-3 block text-indigo-600 xl:inline'>Enter a position:</p>

            <input id='positionInput' type='text' name='position' class='form-control' placeholder='Web Developer' />
            <div id='display'></div>
            <span id='inputErrorPosition'></span>
        </div>

        <div class='column col-3 sm:text-center lg:text-left"'>
            <p class='search-header fs-3 block text-indigo-600 xl:inline'>Choose a location:</p>

            <input id='cityInput' type='text' name='city' class='form-control' placeholder='City Name' />
            <div id='display'></div>
            <span id='inputError'></span>
            <div id='recentHistory' class='recentHistory'>
                <button class='submitBtn' type='button' id='submitBtn'>Search Jobs</button>
            </div>
            <ul id='history-list' class='list-group'></ul>
        </div>

        <div id="five-day-forecast" class="container">
            <h2 id="five-title">Top Results</h2>
            <div class="forecastRow row"></div>
        </div>

<script src="./js/jobs.js"></script>