<section id="search" class="search-wrap">
    <h1>Quick Search for Jobs</h1>
    <form action="/jobs/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="positionSearch" placeholder="Position">
      <input type="search" name="locationSearch" placeholder="Location">
      <input type="submit" value="Search">
    </form>
  </section>