<header class="shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-900">Quick Search</h1>
    </div>
</header>
    
<div class='mt-3 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-5 lg:mt-10 lg:px-4 xl:mt-14'>
    <div class='column col-3 lg:text-left"'>
        <p class='search-header fs-3 block text-indigo-600 xl:inline'>Enter a position</p>
        <input id='positionInput' type='text' name='position' class='form-control focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md' placeholder='Type Text' />
        <div id='display'></div>
        <span id='inputErrorPosition'></span>
    </div>

    <div class='mt-3 column col-3 lg:text-left"'>
        <p class='search-header text-base text-indigo-600 tracking-wide'>Choose a location</p>

        <input id='cityInput' type='text' name='city' class='form-control focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md' placeholder='Type Text' />
        <div id='display'></div>
        <span id='inputError'></span>
        <div id='recentHistory' class='recentHistory'>
            <button class="submitBtn mt-5 inline-flex items-center justify-center px-2.5 py-1.5 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700" type='button' id='submitBtn'>Search Jobs</button>
        </div>
        <ul id='history-list' class='list-group'></ul>
    </div>

    <div id="job-results" class="container mt-10">
        <h2 id="five-title" class="mt-5 text-3xl leading-8 font-bold tracking-tight text-gray-900 sm:text-3xl">Top Results</h2>
        <div class="mt-3 forecastRow row border-4 border-dashed border-gray-200 rounded-lg w-full h-full" id = "job-list"></div>
    </div>
</div>

<script src="./js/jobs.js"></script>