<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="./css/quiz.css">
    </head>

    <body>
        <div class="question-container">
            <div class="title">Career Match Test</div>
            <div id="question" class="question"></div>
            <label class="option">
                <input type="radio" name="option" value="1" />
                <span class="option1"></span>
            </label>
            <label class="option">
                <input type="radio" name="option" value="2" />
                <span class="option2"></span>
            </label>
            <label class="option">
                <input type="radio" name="option" value="3" />
                <span class="option3"></span>
            </label>
            <label class="option">
                <input type="radio" name="option" value="4" />
                <span class="option4"></span>
            </label>
            <label class="option">
                <input type="radio" name="option" value="5" />
                <span class="option5"></span>
            </label>

            <div class="controls">
                <button class="previous inline-flex items-center justify-center px-2.0 py-1.5 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">Previous</button>
                <button class="next no-button inline-flex items-center justify-center px-2.0 py-1.5 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-indigo-50">Next</button>
            </div>
        </div>

        <div class="result">
        </div>

        <script src="./js/questions.js"></script>
        <script src="./js/quiz.js"></script>
    </body>
</html>