
            <!DOCTYPE html>
<html lang="en">

<head>
    <title>Career Match Test</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="./css/quiz.css">
</head>

<body>

    <div class="question-container">
        <div class="title">Career Match Test</div>
        <div id="question" class="question"></div>
        <label class="option">
            <input type="radio" name="option" value="1" />
            <span class="option1"></span>
        </label>
        <label class="option">
            <input type="radio" name="option" value="2" />
            <span class="option2"></span>
        </label>
        <label class="option">
            <input type="radio" name="option" value="3" />
            <span class="option3"></span>
        </label>
        <label class="option">
            <input type="radio" name="option" value="4" />
            <span class="option4"></span>
        </label>
        <label class="option">
            <input type="radio" name="option" value="5" />
            <span class="option5"></span>
        </label>

    
        <div class="controls">
            <button class="previous">Previous</button>
            <button class="next">Next</button>
        </div>
    </div>

    <div class="result">

    </div>

    <script src="./js/questions.js"></script>
    <script src="./js/quiz.js"></script>
</body>

</html>